  <aside class="bg-dark">
      <div class="container text-center">
          <div class="call-to-action">
              <h2>Untuk Informasi Lebih Lengkap Silahkan Kunjungi Website Dari Lima Jurusan Yang Ada Di Fakultas Sains Dan Teknologi Di Bawah Ini!</h2>
              <a href="http://sif.uin-suska.ac.id" class="btn btn-default btn-xl wow tada">Sitem Informasi</a>
              <a href="https://tif.uin-suska.ac.id" class="btn btn-default btn-xl wow tada">Teknik Informatika</a>
              <a href="https://ee.uin-suska.ac.id" class="btn btn-default btn-xl wow tada">Teknik Elektro</a>
              <a href="https://ie.uin-suska.ac.id" class="btn btn-default btn-xl wow tada">Teknik Industri</a>
              <a href="https://math.uin-suska.ac.id" class="btn btn-default btn-xl wow tada">Matematika</a>
          </div>
      </div>
  </aside>
