<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-left">
                <h2 class="section-heading">Biodata Diri</h2>
                <hr class="primary">
                <p>Perkenalkan nama saya Elvira Munanda, saya biasa di panggil vira dan saya lahir pada tanggal 7 juli 1995,saya merupaka anak ketujuh dari enam bersaudara 
                 saya berasal dari sumatera barat yang bertempat tinggal di sebuah kecamatan lembang jaya di sebuah perkampungan yang terkenal dengan penghasil cengkeh yaitu KOTO ANAU
                 kedua orang tua saya hanya seorang petani, sekarang ibu saya berumur 65 tahun dan bapak saya 66 tahun alhamdulilah allah memberikan umur yang panjang dan kesahatan kepada orang tua saya selalu,
                 diantara 6 bersaudara hanya saya satu satunya yang sampai ke jenjang pendidikan sarjana dengan bantuan kakak dan abang saya alhamdulilah saya bisa kuliah karna saya adalah harapan mereka untuk bisa menjadi seorang sarjana di dalam keluarga
                 karna ibu dan dan bapak saya hanya sanggup menyekolahkan anaknya hanya sampai SMA (Sekolah Menegah atas) dan ke enam saudara saya hanya lulusan SMA. </p>
                
                <p>jenjang pendidikan saya yang pertama adalah saya masuk ke Sekolah Dasar pada umur 7 tahun saya di sekolahkan di SDN 001 LEMBANG JAYA setelah tamat SD
                    saya melanjutkan pendidikan saya ke Sekolah menegah Pertama di SMPN 2 lEMBANG JAYA stelah tamat saya melanjutkan ke Sekolah Menengah Kejuruan di SMKN 1 BUKIT SUNDI,Muaro Paneh dengan mengambil jurusan Rekayasa Perangkat Lunak (RPL)
                    dan sekarang setelah tamat dari SMK saya di beri 2 pilihan oleh kakak dan abang saya antara kuliah dan kerja setelah berfikir panjang saya ingin sekali kuliah allhamdulilah dengan bantuan Allah dan kakak beserta abang saya saya bisa kuliah 
                    saya  melanjutkan pendidikan ke perguruan tinggi dengan mengikuti satu tes yaitu tes PNDK, tidak berapa lama setelah lebaran pengumuman kelulusan di umumkan Allhammdulillah berkat doa orang tua saya lulus dan di terima di UIN SUSKA RIAU</p>
             
                <p> Allhamdulillah Sekarang saya adalah Mahasiswa Universitas Islam Negeri Sultan Syarif Kasim Riau, Fakultas Sains Dan Teknologi, Program Studi Sistem Informasi semester 7</p>
            </div>
        <div class="col-lg-2 col-lg-offset-2 text-center">
            <a href="mailto:{{ site.instagram_username }}">
                <i class="fa fa-instagram fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ elviramunanda }}</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="elviramunanda.blogspot.com{{ site.email }}">
            <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ elviramunanda }}</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="https://github.com/{{ site.github_username }}">
            <i class="fa fa-github fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ elviramunanda7 }}</p>
            </a>
        </div>

    </div>
</section>
