<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">About Testing Dan Implementasi</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-book wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Graham et al</h3>
                    <a href="https://www.slideshare.net/elviramunanda/tool-support-for-testing-83066572" class="btn btn-default btn-xl wow tada">tool support for testing</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-book wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Graham et al</h3>
                    <a href="https://www.slideshare.net/elviramunanda/testing-throughout-the-software-life-cycle-83066786" class="btn btn-default btn-xl wow tada">Testing Throughout The Software Life Cycle</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-book wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Graham et al</h3>
                    <a href="https://www.slideshare.net/elviramunanda/chapter-three-static-techniques" class="btn btn-default btn-xl wow tada">Chapter Three Static Techniques</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-book wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Graham et al</h3>
                    <a href="https://www.slideshare.net/elviramunanda/chapter-three-static-techniques" class="btn btn-default btn-xl wow tada">Chapter Three Static Techniques</a>
                </div>
            </div>
        </div>
    </div>
</section>
